.hero {
  max-width: 1350px;
  margin: 32px auto;
  padding: 0 20px;
  margin-top: 174px;
}

.heroSwiper {
  width: 100%;
  height: 480px;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 25px;
}

/* Overlay */
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}

/* Content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
  max-width: 600px;
}

.hero-content h1 {
  font-size: clamp(20px, 4vw, 48px);
  margin-bottom: 12px;
}

.hero-content p {
  font-size: clamp(14px, 1.5vw, 20px);
}
.cta-section{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.cta-btn-buy {
  background: #05aef0;
  color: white;
  border: none;
  padding: 14px 31px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  transition: 0.3s ease;
}
.cta-btn-sell {
  background: #9b9b9b;
  color: white;
  border: none;
  padding: 14px 31px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  transition: 0.3s ease;
}

.cta-btn:hover {
  background: #00518a;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.swiper-navigation-icon{
   width: 10px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #006aaf;
}
.swiper-button-prev{
    margin-left: 25px !important;
}

.swiper-button-next{
    margin-right: 25px;
}



@media (max-width: 1024px) {
  .heroSwiper {
    height: 380px;
  }

  .slide img,
  .slide::after {
    border-radius: 20px;
  }

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
}
}


@media (max-width: 768px) {
  .heroSwiper {
    height: 260px;
  }

  .hero-content {
    left: 6%;
    max-width: 90%;
  }

  .cta-btn {
    padding: 10px 16px;
    font-size: 14px;
  }

  .slide img,
  .slide::after {
    border-radius: 14px;
  }
  .cta-btn-buy{
    padding: 14px 16px;
  }
  .cta-btn-sell{
    padding: 14px 16px;
  }
  .swiper-button-next{
    margin-right: 0px;
  }
  .swiper-button-prev{
    margin-left: 0px !important;
  }
}

/* ========================= */
/* Small Mobile */
@media (max-width: 480px) {
  .heroSwiper {
    height: 200px;
  }

  .slide img,
  .slide::after {
    border-radius: 10px;
  }
  .cta-section{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
  .cta-btn-buy{
    padding: 10px 12px;
  }
  .cta-btn-sell{
    padding: 10px 12px;
  }
  .swiper-button-next{
    margin-right: 0px;
  }
  .swiper-button-prev{
    margin-left: 0px !important;
  }

}
