body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  background: #fff;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  color: #006aaf;
}

.logo-icon {
  border: 2px solid #006aaf;
  border-radius: 50%;
  padding: 2px 8px;
  margin-right: 5px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 8px;
  padding: 13px 12px;
  width: 45%;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  margin-left: 8px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: 500;
}
.locations{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: 500;
}

.login-btn {
  background: #006aaf;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.login-btns {
  background: #006aaf;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.nav-bottom {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 19px 40px;
  background: #fafafa;
  font-weight: 700;
  font-size: 14px;
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.menu-item:hover {
  color: #28b9a9;
}

.mobile-menu {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 15px 20px;
}

.mobile-item {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  font-weight: 500;
}
/* ===== MOBILE DRAWER ===== */
.mobile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 270px;
  background: white;
  padding: 80px 20px 20px 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
}

/* When Open */
.mobile-drawer.open {
  transform: translateX(0);
}

.mobile-item {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  cursor: pointer;
}

/* Overlay Background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}


@media (max-width: 990px) {

  .nav-top {
    padding: 12px 20px;
  }

  .hamburger {
    display: block;
  }

  .nav-bottom {
    display: none;
  }

  .search-box {
    width: 100%;
    margin: 10px 0;
  }

  .nav-actions {
    gap: 10px;
  }

  .nav-top {
    flex-wrap: wrap;
  }
  .nav-top .nav-actions{
    justify-content: space-around;
  }
  .mobile-drawer {
    display: none;
  }
  .login-btn{
    display:none
  }
  .location{
    display:none
  }
}