.product-card {
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
  margin: 12px;
}
.horizontal-scroll {
  display: flex;
  gap: 0px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

/* Hide scrollbar (Chrome, Safari) */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.horizontal-scroll {
  scrollbar-width: none;
}

/* Prevent card shrinking */
.product-card {
  min-width: 250px;
  flex-shrink: 0;
}
.product-card-header{
  text-align: start;
    margin-bottom: 30px;
    /* padding-left: 20px; */
    font-size: 23px;
    color: #1d1d1f;
}
.product-padding{
  padding: 40px;
}


.product-image-section {
  position: relative;
  /* padding: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.product-image {
  width: 100%;
  height: 284px;
}


.wishlist {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #dadada;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}


.deal-badge {
  background: #ff4d4d;
  color: white;
  padding: 6px 12px;
  border-radius: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
}


.product-details {
  padding: 25px;
}

.product-title {
  font-size: 16px;
  margin-bottom: 12px;
}

.product-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.tag {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  background: white;
}


.rating-section {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0px;
}

.stars {
  color: #f5a623;
}

.rating-number {
  font-weight: bold;
  font-size: 14px;
}


.product-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}


.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-left {
  display: flex;
  flex-direction: column;
}

.current-price {
  font-size: 22px;
  font-weight: bold;
}

.mrp {
  font-size: 13px;
  color: #777;
}

.discount {
  font-size: 13px;
  color: #008000;
  font-weight: 600;
}



.price-wrapper {
  display: flex;
  align-items: baseline;   
  gap: 12px;
  flex-wrap: wrap;
}

.price-current {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.price-secondary {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-mrp {
  font-size: 16px;
  color: #777;
}

.price-discount {
  font-size: 16px;
  color: #008000;
  font-weight: 600;
}
@media(max-width:400px){
  .product-padding{
    padding: 20px 3px;
  }
}