
.sequence{
    position: relative !important; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.text-container{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}
.sequence-title{
    font-size: 40px;
    margin-bottom: 16px;
/* overflow: hidden; */
}
.letter{
    display: inline-block;
    font-weight: 800;
    font-size: 62px;
    color: #93d313;
}